@using System.Globalization

<div>
    <MudText Typo="Typo.body1" Inline="true">@ValueNormalized</MudText>
    <MudText Typo="Typo.body2" Inline="true">@((MarkupString)Suffix)</MudText>
</div>

@code {

    [Parameter]
    public double Value { get; set; }

    public string ValueNormalized => Value.ToString("N4", CultureInfo.InvariantCulture);

    [Parameter]
    public string Suffix { get; set; }
}
