@using System.Globalization
<div>
    <span class="title is-3">@ValueNormalized</span>
    <span class="subtitle is-4">@((MarkupString)Suffix)</span>
</div>

@code {

    [Parameter]
    public double Value { get; set; }

    public string ValueNormalized => Value.ToString("N3", CultureInfo.InvariantCulture);

    [Parameter]
    public string Suffix { get; set; }
}
