@using Transform
@using System.Linq

@inject ITransformer transformer

<div class="columns is-vcentered">
    <div class="column is-5 has-text-right">
        <NumericDisplay Value="@FromValue" Suffix="@FromUnit" />
    </div>
    <div class="column is-2 has-text-centered">
        @*<span class="icon is-large">
            <i class="fas fa-2x fa-equals"></i>
        </span>*@
        <span class="title is-1">=</span>
    </div>
    <div class="column is-5 has-text-left">
        @if (ToUnitNames == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var item in ToUnitNames.Except(new[] { FromUnit }))
            {
                <NumericDisplay Value="@transformer.Transform(FromValue, FromUnit, item)" Suffix="@item" />
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public double FromValue { get; set; }

    [Parameter]
    public string FromUnit { get; set; }

    [Parameter]
    public string[] ToUnitNames { get; set; }

}
