@page "/area"

@inject IData data

@using Data
@using Models
@using Converter.Components

@if (areaOptionUnits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ConvertDisplay AreaOptionUnits="areaOptionUnits" 
                    UnitLeftDefaultValue="@AreaUnit.Aana" 
                    UnitRightDefaultValue="@AreaUnit.SquareMetre" />
}
@code {
    
    DropdownOption[] areaOptionUnits;
    protected override void OnInitialized()
    {
        //areaOptionUnits = await Http.GetFromJsonAsync<DropdownOption[]>("data/area-units.json");
        areaOptionUnits = data.FetchDropdownUnitOptions();
    }
}
