@page "/area"
@inject HttpClient Http

@using Models

@if (areaOptionUnits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="columns has-text-centered pt-6">
        <div class="column is-two-fifths">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-medium is-primary" type="number" step="any" placeholder="Area"
                           @bind-value="LeftInputArea"
                           @bind-value:event="oninput">
                </p>
                <p class="control">
                    <span class="select is-warning is-medium">
                        <select @bind="SelectedUnitLeft">
                            @foreach (var item in areaOptionUnits)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </span>
                </p>
            </div>
        </div>
        <div class="column is-one-fifth">
            <span class="icon is-large">
                <i class="fas fa-3x fa-exchange-alt"></i>
            </span>
        </div>
        <div class="column is-two-fifths">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-medium is-primary" type="number" step="any" placeholder="Area"
                           @bind-value="RightInputArea">
                </p>
                <p class="control">
                    <span class="select is-warning is-medium">
                        <select @bind="SelectedUnitRight">
                            @foreach (var item in areaOptionUnits)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </span>
                </p>
            </div>
        </div>
    </div>
}
@code {
    public double LeftInputArea { get; set; } = 1;

    private double _rightInputArea;
    public double RightInputArea
    {
        get => LeftInputArea * 20;
        set => _rightInputArea = value;
    }

    public string SelectedUnitLeft { get; set; } = "bigha";
    public string SelectedUnitRight { get; set; } = "katha";

    DropdownOption[] areaOptionUnits;
    protected override async Task OnInitializedAsync()
    {
        areaOptionUnits = await Http.GetFromJsonAsync<DropdownOption[]>("data/area-units.json");
    }
}
