@page "/"

<p class="title is-3">नेपाली एकाइहरुको रूपान्तरण अनुप्रयोग</p>
<p class="subtitle is-4">
    यो हाम्रो नेपलमा चलनचल्तिका एकाइहरुको लागी एउटा सरल र उपयोगी अनुप्रयोग हो|
    यसको मदतले लम्बाइ, क्षेत्रफल्, आयतन इत्यादिका बिविन्न एकाइहरुको द्विदिशात्मक रूपान्तरण गर्नसक्नुहुनेछ|
</p>
