@page "/"

<MudContainer Class="pt-6">
    <MudText Typo="Typo.h4" Align="Align.Center">
        <p>Measurement Unit Converter</p>
        <p>मापन एकाइहरुको रूपान्तरण अनुप्रयोग</p>
    </MudText>

    <hr class="mt-3" />
    <hr class="mb-3" />

    <MudText Typo="Typo.h5" Align="Align.Center">
        <p>This is easy to use and helpful tool convert SI and cutomary imperial mesurement units. With this tool, you can convert differnt units on length, area, volume etc.</p>
        <p>यो अनुप्रयोग हाम्रो नेपालमा चलनचल्तिका एकाइहरुको रूपान्तरणको लागी सरल र उपयोगी छ| यसको मदतले लम्बाइ, क्षेत्रफल्, आयतन इत्यादिका बिविन्न एकाइहरुको रूपान्तरण गर्नसक्नुहुनेछ|</p>
    </MudText>
</MudContainer>