@page "/length"

@inject AppSettings settings
@inject ITransformer transformer
@inject IStringLocalizer<Length> L

@if (lengthOptionUnits == null)
{
    <p>@L["Loading"]</p>
}
else
{
    <ConvertDisplay OptionUnits="@lengthOptionUnits"
                    UnitLeftDefaultValue="@LengthUnit.Mile"
                    UnitRightDefaultValue="@LengthUnit.KiloMetre"/>
}

@code {
    DropdownOption[] lengthOptionUnits;
    protected override void OnInitialized()
    {
        //areaOptionUnits = await Http.GetFromJsonAsync<DropdownOption[]>("data/area-units.json");
        settings.CurrentDataInstance = nameof(LengthData);
        lengthOptionUnits = transformer.FetchDropdownUnitOptions();
    }
}
