@page "/length"

@inject AppSettings settings
@inject ITransformer transformer

@using Models
@using Data
@using Converter.Transform
@using Converter.Components

@if (lengthOptionUnits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ConvertDisplay OptionUnits="@lengthOptionUnits"
                    UnitLeftDefaultValue="@LengthUnit.Mile"
                    UnitRightDefaultValue="@LengthUnit.KiloMetre"/>
}



@code {
    DropdownOption[] lengthOptionUnits;
    protected override void OnInitialized()
    {
        //areaOptionUnits = await Http.GetFromJsonAsync<DropdownOption[]>("data/area-units.json");
        settings.CurrentDataInstance = nameof(LengthData);
        lengthOptionUnits = transformer.FetchDropdownUnitOptions();
    }
}
